<h1>Error: {{error}}</h1>

{{#image}}
  <div class="error">
    <h2><a href="{{url}}">Here's the latest image though</a></h2>
  
    <div id="pic">
      <a href="{{url}}"><img src="{{medium}}"/></a>
    </div>
  </div>
{{/image}}


<p><a href="/">Back to index</a></p>