<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/imglog.css" />
    <link rel="stylesheet" type="text/css" href="/css/shadowbox.css">
    
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    
    <meta name="title" content="{{name}}" />
    <meta name="description" content="{{name}} - {{tagline}}"/>
    
    {{#opengraph}}
      <meta property="og:image" content="{{image}}" />
      <meta property="og:title" content="{{title}}" />
      <meta property="og:url" content="{{url}}" />
    {{/opengraph}}
    
    {{#shadow}}
      <script type="text/javascript" src="/js/shadowbox.js"></script>
      <script type="text/javascript">
        Shadowbox.init({
          handleOversize : "drag"
        });
      </script>
    {{/shadow}}
    
    {{#ga}}
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{code}}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    {{/ga}}
  </head>
  <body>
    <div id="header">
      <h1><a href="/">{{name}}</a></h1>
      <h3>{{tagline}}</h3>
    </div>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>