<div class="toprow">
  <div class="previous">
    {{#previous}}
      <a href="{{url}}">&lt;&lt; previous</a>
    {{/previous}}
    &nbsp;
  </div>

  <div class="middle">
    {{#previous_month}}
      <a href="{{date_path}}">&lt;&lt; {{pretty_date}}</a>
    {{/previous_month}}
    &nbsp;
    {{#next_month}}
      <a href="{{date_path}}">{{pretty_date}} &gt;&gt;</a>
    {{/next_month}}
  </div>

  <div class="next">
    &nbsp;
    {{#next}}
      <a href="{{url}}">next &gt;&gt;</a>
    {{/next}}
  </div>
</div>

{{#images}}
  <div class="index-day">
    <h2><a href="{{date_path}}">{{date}} ({{amount}} images)</a></h2>
    {{#thumbs}}
      <div class="row">
        {{#row}}
          <div class="thumbnail"><a href="{{url}}"><img src="{{thumbnail}}"/></a></div>
        {{/row}}
      </div>  
    {{/thumbs}}
    {{#has_more}}
      <h3 class="more"><a href="{{date_path}}">See all {{amount}} images</a></h3>
    {{/has_more}}
  </div>
{{/images}}